* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .header {
   display: grid;
   grid-template-columns: 1fr min-content 1fr;
   align-items: center;
   padding: 95px 50px;
   width: 1100px;
   opacity: 1;
 }

 .header__links-list {
   display: flex;
   gap: 16px;
 }

 .header__links-list-item {
   font-size: 18px;
   list-style: circle;
 }

 .header__finks-list-item__no-bullit {
   list-style: none;
 }

 .header__link {
   text-decoration: none;
   border-bottom: 1px solid;
 }

 .header__link__active {
   border-bottom: none;
   text-decoration: none;
 }

 .header__logo {
   width: 148px;
   height: 105px;
   left: 478px;
 }

 .header__address {
   display: flex;
   align-items: center;
   justify-content: end;
 }

 .contacts-element {
   width: 237px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-style: normal;
   color: #000;
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 23.6px;
 }

 .mail-address,
 .phone-address {
   text-decoration: none;
   display: flex;
   align-self: flex-start;
   border-bottom: 0.5px solid black;

 }

 .city-address {
   display: flex;
   align-self: flex-start;
   margin-right: 1px;
 }

 .cover {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background-image: url("../images/cover.jpg");
   background-size: cover;
   background-position: center;
   border: none;
   position: relative;
   width: 1100px;
   height: min-content;
   min-height: 757px;
 }

 .cover__title {
   font-family: "Raleway", Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 100px;
   text-transform: uppercase;
   color: white;
   letter-spacing: 30px;
   z-index: 1;
 }

 .overlay {
   position: absolute;
   inset: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.6);
 }

 .aligned-text_left {
   display: flex;
   justify-content: flex-start;
   margin: 165px 764px 17px 50px;
 }

 .aligned-text_center {
   display: flex;
   justify-content: center;
   margin: 0px 350px 18px 380px;
 }

 .aligned-text_right {
   display: flex;
   justify-content: flex-end;
   margin: 0px 20px 97px 616px;
 }

 .cover__description {
   display: flex;
   justify-content: space-around;
   margin-right: 49px;
   z-index: 1;
   font-size: 22px;
   text-transform: uppercase;
   font-family: "Raleway", Arial, Helvetica, sans-serif;
   color: rgb(255, 255, 255);
 }

 .cover__description-text {
   display: flex;
   font-size: 22px;
   line-height: 28px;
   word-spacing: 18.5px;
   text-transform: uppercase;
   margin: 20px 0px 42px 49px;
 }

 .bet-button {
   background-color: transparent;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid currentColor;
   width: 256px;
   height: 51px;
   margin: 7px 0 50px 103px;
   color: rgb(255, 255, 255);
 }

 .lots {
   width: 1052px;
   top: 1230px;
   left: 24px;
   margin-left: 24px;
   margin-top: 50px;
 }

 .lots__heading {
   width: 121px;
   left: 40px;
   font-weight: 700px;
   font-size: 40px;
   line-height: 100%;
   text-transform: uppercase;
   margin: 191px 208px 22px 40px;
 }

 .lots__cards-list {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   list-style: none;
   margin-bottom: 34px;
 }

 .lots__card-list-item {
   flex-grow: 1;
   width: 334px;
   min-height: 596px;
   opacity: 1;
   top: 74px;
 }

 .card-link {
   display: block;
   height: 100%;
   text-decoration: none;
 }

 .card {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   padding: 50px 40px;
   color: #ffffff;
   background-position: center;
   background-size: cover;
 }

 .card__type__film {
   background-image: url("../images/card-lot-01.jpg");
 }

 .card__type__book {
   background-image: url("../images/card-lot-02.jpg");
 }

 .card__type__picture {
   background-image: url("../images/card-lot-03.jpg");
 }

 .card__title {
   font-weight: 700;
   font-size: 22px;
   line-height: 120%;
   text-transform: uppercase;
   text-decoration: underline;
   text-decoration-style: solid;
   text-decoration-thickness: 0%;
   z-index: 1;
 }

 .card__text {
   font-weight: 400;
   font-size: 20px;
   line-height: 120%;
   z-index: 1;
 }

 .lots__look-more-link {
   width: 192px;
   top: 700px;
   left: 40px;
   border-width: 1px;
   font-weight: 400;
   font-size: 20px;
   line-height: 100%;
   margin-left: 40px;
   text-underline-offset: 5px;
 }

 .about {
   display: grid;
   grid-template-columns: 310px 1fr;
   justify-content: space-between;
   gap: 25px;
   padding: 49px 23px;

 }

 .about_logo {
   display: grid;
   place-items: center;
   background-color: black;
   width: 240px;
   height: 240px;
   border-radius: 50%;
   margin: 106px 46px 46px 47px;
   padding: 38px 46px 37px 47px;
 }

 .about_logo-image {
   width: 148px;
   height: 114px;
   top: 64px;
 }

 .about__title {
   font-family: "Raleway", Arial, Helvetica, sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 100%;
   text-transform: uppercase;
   margin: 212px 0 0 25px;
 }

 .about__text {
   display: flex;
   gap: 26px;
   flex-direction: column;
   justify-content: flex-end;
   font-size: 20px;
   margin-top: 103px;
   margin-left: 25px;
 }

 footer {
   margin: 139px 50px 90px 50px;
   display: flex;
   justify-content: space-between;
 }

 .footer__address {
   display: flex;
   align-items: center;
   justify-content: end;

 }

 .footer__menu-list-item {
   text-decoration: none;
 }

 .footer__menu-link {
   text-decoration: none;
   border-bottom: 0.5px solid black;
 }

 .footer__menu {
   display: grid;
   align-content: start;
   justify-items: center;
 }

 .footer__menu-list {
   list-style-type: none;
   display: grid;
   align-self: center;
   color: #000;
   text-align: center;
   font-family: Raleway, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-decoration-skip-ink: none;
 }

 .footer__menu-link_active {
   text-decoration: none;
   border-bottom: none;
 }

 .footer__social-list {
   list-style-type: none;
   display: flex;
   gap: 48px;
 }

 .footer__social-list-item-logo {
   width: 48px;
 }